.layout {
    display: grid;
    grid-template-areas:
        'window-bar'
        'main-content'
        'player';
    grid-template-rows:
        0 calc(100vh - 90px - var(--theme-spacing-md)) calc(90px + var(--theme-spacing-md));
    grid-template-rows:
        0 calc(100dvh - 90px - var(--theme-spacing-md)) calc(90px + var(--theme-spacing-md));
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
    overflow: hidden;
}

.windows {
    grid-template-rows:
        calc(30px + var(--theme-spacing-md))
        calc(100vh - 120px - 2 * var(--theme-spacing-md))
        calc(90px + var(--theme-spacing-md));
    grid-template-rows:
        calc(30px + var(--theme-spacing-md))
        calc(100dvh - 120px - 2 * var(--theme-spacing-md))
        calc(90px + var(--theme-spacing-md));
}

.macos {
    grid-template-rows:
        calc(30px + var(--theme-spacing-md))
        calc(100vh - 120px - 2 * var(--theme-spacing-md))
        calc(90px + var(--theme-spacing-md));
    grid-template-rows:
        calc(30px + var(--theme-spacing-md))
        calc(100dvh - 120px - 2 * var(--theme-spacing-md))
        calc(90px + var(--theme-spacing-md));
}
