.main-content-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-area: main-content;
    grid-template-areas: 'sidebar main';
    grid-template-rows: 1fr;
    gap: var(--theme-spacing-sm);
    padding: var(--theme-spacing-md);
    background: var(--theme-colors-background);
}

.main-content-container.shell {
    display: flex;
}

.main-content-container.sidebar-collapsed {
    grid-template-columns: 80px 1fr;
}

.main-content-container.sidebar-expanded {
    grid-template-columns: var(--sidebar-width) 1fr;
}

.main-content-container.right-expanded {
    grid-template-areas: 'sidebar main right-sidebar';
    grid-template-columns: var(--sidebar-width) 1fr var(--right-sidebar-width);
}

.main-content-container.sidebar-collapsed.right-expanded {
    grid-template-columns: 80px 1fr var(--right-sidebar-width);
}

.main-content-container.vertical-layout {
    grid-template-areas:
        'sidebar main'
        'sidebar right-sidebar';
    grid-template-rows: minmax(0, 1fr) var(--right-sidebar-height);
    grid-template-columns: var(--sidebar-width) 1fr;
}

.main-content-container.sidebar-collapsed.vertical-layout {
    grid-template-columns: 80px 1fr;
}

.main-content-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    grid-area: main;
    min-height: 0;
    overflow: hidden;
    background: var(--theme-colors-background);
    border-radius: var(--theme-radius-lg);
}

.main-content-body-scroll {
    flex: 1;
    min-height: 0;
    overflow: auto;
}
